@import url(../css/fonts/permanent-marker.css);
/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 38, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 48, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 77, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html {
  background: #fff;
  color: #000;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 88, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 98, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 113, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 118, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 132, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 137, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 142, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 147, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 152, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 157, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/* line 163, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 168, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 173, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 178, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 184, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 191, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 197, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 203, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 213, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 220, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 225, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 232, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 237, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 245, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 249, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 260, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 267, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 272, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 279, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 293, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 299, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 310, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 321, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 326, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 335, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 346, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 358, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 367, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 379, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 389, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 398, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 409, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 418, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 424, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 432, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 444, ../../../../../../var/lib/gems/1.9.1/gems/compass-h5bp-0.1.2/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 53, ../sass_imports/base.scss */
body {
  background: url(images/wood.jpg);
}

/* line 57, ../sass_imports/base.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 61, ../sass_imports/base.scss */
h1, h2 {
  font-family: permanent_marker;
  text-align: center;
  font-size: 4em;
  margin: 30px 0 0;
  color: #fff;
  text-shadow: 0px 1px 0px #10110F;
}

/* line 69, ../sass_imports/base.scss */
h2 {
  font-size: 2em;
  margin: 0 0 30px;
}

/* line 74, ../sass_imports/base.scss */
p {
  text-align: center;
  color: #fff;
  text-shadow: 0px 1px 0px #10110F;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 3, ../sass/main.scss */
div.faces {
  position: relative;
  width: 720px;
  margin: 0 auto;
  text-align: center;
}
/* line 6, ../sass/main.scss */
div.faces div.face {
  background: url(images/hat.png) no-repeat;
  background-size: contain;
}
/* line 9, ../sass/main.scss */
div.faces div.deer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 125px;
  height: 141px;
  background: url(images/deer.png) no-repeat;
}
/* line 13, ../sass/main.scss */
div.faces div.frame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(images/snow.png);
}
/* line 17, ../sass/main.scss */
div.faces div.tinsel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  right: -20px;
  background: url(images/tinsel.png) no-repeat;
  background-size: contain;
}
/* line 21, ../sass/main.scss */
div.faces div.tree {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: 140px;
  height: 172px;
  background: url(images/tree.png) no-repeat;
}
/* line 25, ../sass/main.scss */
div.faces > img {
  max-width: 100%;
}

/* line 30, ../sass/main.scss */
a.button {
  -moz-box-shadow: inset 0px 1px 0px 0px #a4e271;
  -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
  background: -moz-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -o-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: -ms-linear-gradient(top, #89c403 5%, #77a809 100%);
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
  background-color: #89c403;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #74b807;
  display: inline-block;
  color: #ffffff;
  font-family: arial, helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 48px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
/* line 32, ../sass_imports/base.scss */
a.button:active {
  position: relative;
  top: 1px;
}
/* line 36, ../sass_imports/base.scss */
a.button:hover {
  -moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
  box-shadow: inset 0px 1px 0px 0px #f5978e;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
  background-color: #f24537;
  border: 1px solid #d02718;
  text-shadow: 0px 1px 0px #810e05;
}

/* line 34, ../sass/main.scss */
div.fb-app {
  display: none;
  margin-top: 60px;
}

/* line 38, ../sass/main.scss */
blockquote.bible {
  width: 500px;
  margin: 30px auto;
  padding: 20px 20px;
  -moz-box-shadow: inset 0px 1px 0px 0px #f9eca0;
  -webkit-box-shadow: inset 0px 1px 0px 0px #f9eca0;
  box-shadow: inset 0px 1px 0px 0px #f9eca0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
  background: -moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: -ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
  background: linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
  background-color: #f0c911;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #e65f44;
  color: #c92200;
  text-shadow: 0px 1px 0px #ded17c;
  font-family: arial, helvetica, sans-serif;
}
/* line 59, ../sass/main.scss */
blockquote.bible cite, blockquote.bible a {
  display: block;
  text-align: right;
  font-weight: bold;
}
/* line 63, ../sass/main.scss */
blockquote.bible a {
  padding-top: 5px;
  text-decoration: underline;
}

/* 
@media print {
	body {
		background: transparent;
		> h1, >h2, > p {
			display: none;
		}
	}
	div.fb-app {
		> blockquote,> p {
			display: none;
		}
		img {
			min-height: 520px;
		}
	}
} */
