@import "base";

div.faces {
	position: relative;
	div.face {
		border: 2px solid #f00;
	}
	div.frame {
		position: absolute;
		top: -10px; left: -10px;
	}
}

div.button {
	text-align: center;
	> p {
		@include button;
	}
}