@import "h5bp";
@include h5bp-normalize;

@import "../css/fonts/permanent-marker.css";

@mixin button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:12px 48px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	&:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
		background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
		background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
		background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
		background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
		background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
		background-color:#77a809;
	}
	&:active {
		position:relative;
		top:1px;
	}
	&.logged-in {
		-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
		-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
		box-shadow:inset 0px 1px 0px 0px #f5978e;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
		background:-moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
		background:-webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
		background:-o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
		background:-ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
		background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
		background-color:#f24537;
		border:1px solid #d02718;
		text-shadow:0px 1px 0px #810e05;
	}
}

body {
	background: url(images/wood.jpg);
}

a {
	color: inherit; text-decoration: none;
}

h1,h2 {
	font-family: permanent_marker;
	text-align: center;
	font-size: 4em;
	margin: 30px 0 0;
	color: #fff;
	text-shadow: 0px 1px 0px #10110F;
}
h2 {
	font-size: 2em;
	margin: 0 0 30px;
}

p {
	text-align: center;
}